body{
				width: 100%;
				min-height: 100vh;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.elements{
				cursor: pointer;
				text-transform: uppercase;
				padding: 10px ;
				margin: 10px 0;
				border-radius: 15px;

			}
			#air{
				background-color: #889;
				color: white;
			}
			#fire{
				background-color: #788;
				color: yellow;
			}
			#earth{
				background-color: #755;
				color: white;
			}
			#water{
				background-color: #779;
				color: white;
			}
			#newElement{
				padding: 20px;
				background-color: #888;
				border-radius: 15px;
				font-size: 25px;
				font-weight: 700;
			}