section{
    height: 100vh;
    background-image: repeating-linear-gradient( 45deg, #aa16c4, #2ad7dd);
}
.content_block{
    display: flex;
    justify-content: center;
}
.sign-up{
    width: 17rem;
    height: auto;
    background-image: repeating-linear-gradient( 50deg, #aa16c4 -15%, #2ad7dd);
    padding: 50px 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px #3f643f;
}
.input{
    width: 100%;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgba(42, 215, 221, 0.6);
    box-shadow: 0 1px rgba(124, 76, 133, 0.6);
    background: transparent;
    padding: 8px 5px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    margin-top: 20px;
}
.input::-webkit-input-placeholder{
    color: #454444;
}
.btn{
    width: 100%;
    outline: none;
    border: 1px solid #888888;
    box-shadow: 0 0 2px #0066ff;
    background: linear-gradient(45deg,rgba(170,22,196,0.6),#2ad7dd);
    padding: 6px 3px;
    border-radius: 26px;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    margin-top: 45px;
}
.text{
    color: color(29785);
}
.text h1 {
    font-size: 40px;
    font-weight: 400;
}
.disp-text{
    font-size: 25px;
}
.muted{
    color: #2d2c32;
    font-size: 20px;
    font-style: italic;
}
@media (max-width: 768px) {
    .sign-up{
        margin-top: 50px;
    }
}
.fa{
    color:rgba(0, 0, 0, 0.75);
    background: linear-gradient(45deg,rgba(170,22,196,0.6),#2ad7dd);
    border: 1px solid #888888;
    box-shadow: 0 0 5px;
    border-radius: 50%;
    padding: 17px 25px;
}