section{
    height: 100vh;
    background: repeating-linear-gradient(45deg, yellow  , #07b107  );
}
.content_block{
    display: flex;
    justify-content: center;
}
.sign-up{
    width: 16rem;
    height: 20rem;
    background: rgba(170, 255, 170, 0.6);
    padding: 50px 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px #3f643f;
}
.input{
    width: 100%;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    background: transparent;
    padding: 8px 5px;
    border-radius: 3px;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    margin-top: 20px;
}
.btn{
    width: 100%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 1);

    background: transparent;
    padding: 8px 5px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    margin-top: 20px;
}
.text{
    color: color(29785);
}
@media (max-width: 768px) {
    .sign-up{
        margin-top: 50px;
    }
}
.fa{
    color:rgb(0, 0, 0);
}