*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 18px;
}

.bg-image{
    background-image: url(https://images.pexels.com/photos/4100179/pexels-photo-4100179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #2196f3;
    z-index: -1;
}
.bg-image:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 0.30;
}
@media (max-width: 800px){
    .bg-image{
        background-image: url(https://images.pexels.com/photos/2862127/pexels-photo-2862127.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    }
}
.row-inner{
    margin-top: 120px;
    align-items: center;
}

@media (max-width: 768px) {
    .row-inner {
        margin-top: 50px;
    }
    .sign-up{
        margin-top: 50px;
        background-color: rgba(255, 255, 255, 0);
    }
    .col__inner{
        margin-left: 20px;
        margin-right: 20px;
    }
    .col__inner h1{
        font-size: 32px;
    }
    .title{
        font-size: 35px;
    }

}

.sign-up{
    width: 18rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}
.sign-up:hover{
    background-color: rgb(0, 0, 0);
}
.fa-lock{
    color: rgba(0, 0, 0, 0.9);
}
.form-control{
    color: white;
    border: solid 1px #393333;
    background-color: rgba(0, 0, 0, 0.2);
}
