<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>DakuProject</title>
</head>
<body>

<nav class="navbar navbar-expand-lg align-items-center  navbar-dark pt-3">
    <div class="container">
        <a class="logo" href="index.html">
            <p class="brand">D’ cl <img src="assets/image/Ellipse 28.png" alt="">    cks</p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="index.html">Главная</a>
                <a class="nav-item nav-link" href="#">Наши продукты</a>
                <a class="nav-item nav-link" href="#">О нас</a>
                <a class="nav-item nav-link" href="#">Контакты</a>
            </div>
        </div>
    </div>
</nav>
</nav>

<section class="hero">
    <div class="container-fluid p-0">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/image/lok.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/1034063/pexels-photo-1034063.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/1034064/pexels-photo-1034064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<section class="products py-5">
    <div class="container">
        <h2 class="text-center">Наши продукты</h2>
        <p class="title-prod text-center mt-4">Все виды часов только у нас</p>
        <div class="row text-center pt-2">
            <div class="col-md-4 pt-3">
                <img src="assets/image/Rectangle 101.png" alt="">
                <div class="mx-5 px-3 pt-2">
                    <p class="text-left">женские, немецкие, кварцевые, 200WR, стекло: минеральное, 49,2x53,3мм, толщина 14,5мм, вес 87г</p>
                </div>
            </div>
            <div class="col-md-4 pt-3">
                <img src="assets/image/Rectangle 117.png" alt="">
                <div class="mx-5 px-3 pt-2">
                    <p class="text-left">мужские, японские, кварцевые, 200WR, стекло: минеральное, 49,2x53,3мм, толщина 14,5мм, вес 87г</p>
                </div>
            </div>
            <div class="col-md-4 pt-3">
                <img src="assets/image/Rectangle 121.png" alt="">
                <div class="mx-5 px-3 pt-2">
                    <p class="text-left">красивые настенные, 200WR, стекло: минеральное, 49,2x53,3мм, толщина 14,5мм, вес 87г</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="popular py-5">
    <div class="container">
        <h3 class="text-center ">Популярные бренды</h3>
        <div class="row text-center mt-5">
            <div class="col-md-4 pt-3">
                <img src="assets/image/Rectangle 118.png">
                <div class="mx-5 px-3 pt-3">
                    <p>мужские, японские, кварцевые, 200WR, стекло: минеральное, 49,2x53,3мм, толщина 14,5мм, вес 87г</p>
                </div>
            </div>
            <div class="col-md-4 pt-3">
                <img src="assets/image/Rectangle 119.png">
                <div class="mx-5 px-3 pt-3">
                    <p>мужские, японские, кварцевые, 200WR, стекло: минеральное, 49,2x53,3мм, толщина 14,5мм, вес 87г</p>
                </div>
            </div>
            <div class="col-md-4 pt-3">
                <img src="assets/image/Rectangle 120.png">
                <div class="mx-5 px-3 pt-3">
                    <p>женские японские, кварцевые, 200WR, стекло: минеральное, 49,2x53,3мм, толщина 14,5мм, вес 87г</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-us py-5">
    <h2 class="text-center"><strong>О нас</strong></h2>
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-6">
                <p>Часовой Дом "Русское время" – известная часовая компания в России, сочетающая в себе отличное качество продукции, дизайн и российские традиции часового мастерства.
                    <br>
                    <br>
                    История компании Часовой Дом "Русское время" началась 2 февраля 2002 года, в момент распада отечественной часовой промышленности. Профессионалы своего дела, сотрудники первого Московского часового завода им. С.М. Кирова, не могли допустить полного краха часового производства и приняли единственно верное решение – создание собственной часовой фирмы.
                    <br>
                    <br>
                    Единомышленники, отдавшие часовому производству много лет и отлично знающие специфику работы, по крупицам стали восстанавливать былую мощь: снимать помещение на родном заводе, покупать у завода оставшиеся механизмы и комплектующие, заново налаживать выпуск мужских механических часов под маркой "Полет".</p>
            </div>
            <div class="col-md-6">
                <img src="assets/image/Rectangle 106.png" class="image-in-abaut" alt="">
                <img src="assets/image/Rectangle 106.png" class="image-in-abaut-2" alt="">
            </div>
        </div>
    </div>
</section>

<section class="why mt-4">
    <div class="container">
        <h2 class="text-center text-uppercase">Почему выбирают нас</h2>
        <div class="row mt-5 text-center justify-content-center">
            <div class="col-md-2 mx-auto">
                <img src="assets/image/image 10.png" alt="">
                <p>Самые качественные товары Часовой Дом "Русское время" – известная часовая компания в России, сочетающая в себе отличное качество продукции, дизайн и российские традиции часового мастерства.</p>
            </div>
            <div class="col-md-2 mx-auto">
                <img src="assets/image/image 8.png" alt="">
                <p>Доставка даже за границу Часовой Дом "Русское время" – известная часовая компания в России, сочетающая в себе отличное качество продукции, дизайн и российские традиции часового мастерства.</p>
            </div>
            <div class="col-md-2 mx-auto">
                <img src="assets/image/image 9.png" alt="">
                <p>Доставка Часовой Дом "Русское время" – известная часовая компания в России, сочетающая в себе отличное качество продукции, дизайн и российские традиции часового мастерства.</p>
            </div>
        </div>
    </div>
</section>
<section class="map-contact">
    <div class="row">
        <div class="col-md-9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97055.11567083352!2d72.73795672748692!3d40.52010190640813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bdac017f5a2e85%3A0xe0a3c61dc6f47b95!2z0J7RiA!5e0!3m2!1sru!2skg!4v1598989144478!5m2!1sru!2skg" class="w-100" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-md-3 ">
            <div class="p-5">
                <h2 class="text-uppercase">Контакты</h2>
                <a href="tel:+996 778 681 624">
                    <p class="h6 pt-5"><i class="fa fa-phone mr-2" aria-hidden="true"></i> +996 778 681 624</p>
                    <p class="h6"><i class="fa fa-phone mr-2" aria-hidden="true"></i> +996 778 681 624</p>
                </a>
                <div class="mt-5">
                    <a href="https://goo.gl/maps/wsmoApAho9psBN2V9" target="blank">
                        <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Ошский Государственный университет (Главный корпус)
                    </a>
                </div>
                <div class="mt-5">
                    <a href="mailto:book.sites9@gmail.com">
                        <i class="fa fa-envelope mr-2" aria-hidden="true"></i> book.sites9@gmail.com
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="footer-firs py-2">
    <div class="container">
        <footer>
            <div class="row text-center  justify-content-center">
                <div class="col-8 col-md-3 mx-auto mt-3">
                    <a class="logo" href="index.html">
                        <p class="brand">D’ cl <img src="assets/image/Ellipse 28.png" alt="">    cks</p>
                    </a>
                    <div class=" pt-2">

                    </div>
                </div>

                <div class="col-8 col-md-2 mx-auto pt-3 my-3">
                    <h4 class="text-uppercase">О нас</h4>
                    <div class=" pt-2">
                        Ошский Государственный университет (Главный корпус)
                    </div>
                </div>

                <div class="col-md-2 mx-auto pt-3 my-3">
                    <h4 class="text-uppercase">ссылки</h4>
                    <div class=" pt-2">
                        <p>Lorem ipsum</p>
                        <p>Lorem ipsum</p>
                        <p>Lorem ipsum</p>
                        <p>Lorem ipsum</p>
                    </div>
                </div>


            </div>
        </footer>
        <hr>
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">

                <!--Copyright-->
                <p class="text-center text-md-left">© 2020 Copyright
                    <a href="http://brightline.co.kg/">
                        <strong>D'clocks</strong>
                    </a>
                </p>


            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="icons text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="#">
                                <span class="text-info"><i class="fa fa-2x fa-facebook"></i></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="#">
                                <span class="text-instagram"><i class="fa fa-2x fa-instagram"></i></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="#">
                                <span class="text-success"><i class="fa fa-2x fa-whatsapp"></i></span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="#">
                                <span class="text-danger"><i class="fa fa-2x fa-youtube"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </div>
</section>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>

<!-- <div class="col-md-2 col-6 mx-auto my-3">

            <div class="pt-2">
              <div class="d-flex justify-content-between">
              <p><a href="#"  style="color: #DD2A7B;"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></p>
              <p><a href="#" style="color: #0088cc;"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></p>
              <p><a href="#"  style="color: #4AC959;"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></p>
              <p><a href="#"  style="color: #0088cc;"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a></p>
              </div>
            </div>
          </div>