@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;

}




.content{
    width: 600px;
    height: 280px;
    position: absolute;
    left: 14%;
    top: 57%;
    transform: translateY(-50%);
    overflow: hidden;
}
#slider{
    display: inline-flex;
    transition: 0.5s;
}
.msg-col{
    width: 600px;
    height: 280px;
}

.controler{
    width: 1px;
    height: 320px;
    display: block;
    background-color: green;
    position: absolute;
    top: 55%;
    right: 50px;
    transform: translateY(-50%);
}

#line1,#line2,#line3,#line4{
    width: 10px;
    height: 80px;
    cursor: pointer;
    transform: translateX(-50%);
}
#active{
    width: 5px;
    height: 80px;
    border-radius: 10px;
    background: #000;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: 0.5s;
}