@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif; 
    background: #FFF;
}
.animate-sec{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;

}
.col-md-3{
    cursor: pointer;
}
.animate-sec img{
    width: 250px;
    animation: animate 0.9s linear infinite ;
    border-radius: 50%;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}