*{
    margin: 0;
    padding:0;
}

/*--------------
HERO
----------------*/

.navbar{
    height: 80px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background-color: #000;
}
.logo{
    text-decoration: none;
    color: #fff;
}
.logo:hover{
    text-decoration: none;
    color: #fff
}
.brand{
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;

}
.navbar-nav a{
    margin-left: 30px;
    color: #fff;
}

/*--------------------

---------------------*/
.title-prod{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
}



/*--------------
popular
------------*/
.popular{
    background: #76807B;
    color: #FFF;
}

/*--------------
about us
------------------*/
.image-in-abaut{
    position: absolute;
    top: 0;
    right: 0
}
.image-in-abaut-2{
    position: absolute;
    top: 60px;
    left: 0
}
@media (max-width: 768px){
    .image-in-abaut{
        display: none;
    }
    .image-in-abaut-2{
        display: none;
    }
}

/*--------------
почему
-----------*/
.why{
    background-color: #76807B;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*-----------------
map-cont
-------------*/
.map-contact a{
    text-decoration: none;
    color: #000084
}
/*---------------------
footer
------------*/
.footer-firs{
    color: white;
    background-color: #76807B
}

